* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}
.box {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: yellow;
    animation-name: light;
    animation-duration: 5s;
    animation-timing-function:  ease-out;
}

@keyframes light {
    /* from {
        background-color: yellow;
    }
    to {
        background-color: red;
    } */
     0% {
        background-color: yellow;
     }
     50% {
        background-color: green;
        margin-top: 500px;
        animation-duration: 8s;
     }
     100% { 
        background-color: red;
     }
}